<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><%= @room.new_record? ? "Publicar": "Editar" %> Habitación</h1>

      <%= form_for @room do |f| %>
        <div class="form-group">
          <%= f.text_field :title, class: 'form-control input-lg', placeholder: "Título" %>
        </div>

        <div class="form-group">
          <%= f.text_area :description, class: 'form-control input-lg', placeholder: "Descripción" %>
        </div>

        <div class="form-group">
          <%= f.label :beds, "Número de Camas" %>
          <%= f.number_field :beds, class: 'form-control input-lg col-sm-2' %>
        </div>

        <div class="form-group">
          <%= f.label :guests, "Número de Huéspedes" %>
          <%= f.number_field :guests, class: 'form-control input-lg' %>
        </div>

        <div class="form-group">
          <%= f.text_field :image_url, class: 'form-control input-lg', placeholder: "URL de Imagen" %>
        </div>

        <div class="actions text-right">
          <%= f.submit @room.new_record? ? "Crear Habitación" : "Editar Habitación", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>